/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers

#define DEFAULT 0
#define NAV_HUN 1
#define MAGIC 2
#define FACTORY_TEST 3
#define DEFAULT_MAC 4
#define NAV_HUN_MAC 5

&mt { flavor = "balanced"; };

/ {
    behaviors {
        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <16 17 18 19 20 21 33 32 31 30 29 28 40 41 42 43 44 45 58 59 60 61 62 63 77 78 75 76 79 5 6 7 8 9>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 22 23 24 25 26 34 35 36 37 38 46 47 48 49 50 64 65 66 67 68 15 27 39 51>;
            hold-trigger-on-release;
        };

        // Acute

        hu_a: hungarian_a {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_acute_a>, <&m_acute_A_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_e: hungarian_e {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_acute_e>, <&m_acute_E_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_i: hungarian_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_acute_i>, <&m_acute_I_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_o: hungarian_o {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_acute_o>, <&m_acute_O_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_u: hungarian_u {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_acute_u>, <&m_acute_U_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Diaeresis (Umlaut)

        hu_oe: hungarian_oe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_dia_o>, <&m_dia_O_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_ue: hungarian_ue {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_dia_u>, <&m_dia_U_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Double Acute

        hu_od: hungarian_od {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_dac_o>, <&m_dac_O_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_ud: hungarian_ud {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_dac_u>, <&m_dac_U_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_a_mac: hungarian_a_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_acute_a>, <&m_mac_acute_A_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_e_mac: hungarian_e_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_acute_e>, <&m_mac_acute_E_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_i_mac: hungarian_i_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_acute_i>, <&m_mac_acute_I_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_o_mac: hungarian_o_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_acute_o>, <&m_mac_acute_O_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_u_mac: hungarian_u_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_acute_u>, <&m_mac_acute_U_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_oe_mac: hungarian_oe_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_dia_o>, <&m_mac_dia_O_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_ue_mac: hungarian_ue_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_dia_u>, <&m_mac_dia_U_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_od_mac: hungarian_od_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_dac_o>, <&m_mac_dac_O_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hu_ud_mac: hungarian_ud_mac {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_mac_dac_u>, <&m_mac_dac_U_cap>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };

        // --- ACUTE ACCENTS (á, é, í, ó, ú) ---
        // Sequence: RALT -> Apostrophe (') -> Letter
        // Lowercase

        m_acute_a: m_acute_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp APOS &kp A>;
        };

        m_acute_e: m_acute_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp APOS &kp E>;
        };

        m_acute_i: m_acute_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp APOS &kp I>;
        };

        m_acute_o: m_acute_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp APOS &kp O>;
        };

        m_acute_u: m_acute_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp APOS &kp U>;
        };

        // Uppercase (Safely releases shift first)

        m_acute_A_cap: m_acute_A_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp APOS &kp LS(A)>;
        };

        m_acute_E_cap: m_acute_E_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp APOS &kp LS(E)>;
        };

        m_acute_I_cap: m_acute_I_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp APOS &kp LS(I)>;
        };

        m_acute_O_cap: m_acute_O_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp APOS &kp LS(O)>;
        };

        m_acute_U_cap: m_acute_U_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp APOS &kp LS(U)>;
        };

        // --- DIAERESIS / UMLAUT (ö, ü) ---
        // Sequence: RALT -> Quote (") -> Letter
        // Note: Since Quote is Shift+', we actually WANT Shift for the punctuation here.

        m_dia_o: m_dia_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp DQT &kp O>;
        };

        m_dia_u: m_dia_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp DQT &kp U>;
        };

        // For caps, we rely on the user holding shift, but we hardcode LS(O) to be safe

        m_dia_O_cap: m_dia_O_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp DQT &kp LS(O)>;
        };

        m_dia_U_cap: m_dia_U_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp DQT &kp LS(U)>;
        };

        // --- DOUBLE ACUTE (ő, ű) ---
        // Sequence: RALT -> Equal (=) -> Letter
        // Note: If shift is held, (=) becomes (+), so we must release shift for caps.

        m_dac_o: m_dac_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp EQUAL &kp O>;
        };

        m_dac_u: m_dac_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RALT &kp EQUAL &kp U>;
        };

        m_dac_O_cap: m_dac_O_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp EQUAL &kp LS(O)>;
        };

        m_dac_U_cap: m_dac_U_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_tap>,
                <&kp RALT &kp EQUAL &kp LS(U)>;
        };

        // --- MAC HUNGARIAN (U.S. Extended) ---
        // Uses macOS dead keys: Option+E (acute), Option+U (umlaut), Option+J (double acute).

        m_mac_acute_a: m_mac_acute_a {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp A>;
        };

        m_mac_acute_e: m_mac_acute_e {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>;
        };

        m_mac_acute_i: m_mac_acute_i {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp I>;
        };

        m_mac_acute_o: m_mac_acute_o {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp O>;
        };

        m_mac_acute_u: m_mac_acute_u {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>;
        };

        m_mac_acute_A_cap: m_mac_acute_A_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(A)>;
        };

        m_mac_acute_E_cap: m_mac_acute_E_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(E)>;
        };

        m_mac_acute_I_cap: m_mac_acute_I_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(I)>;
        };

        m_mac_acute_O_cap: m_mac_acute_O_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(O)>;
        };

        m_mac_acute_U_cap: m_mac_acute_U_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(U)>;
        };

        m_mac_dia_o: m_mac_dia_o {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp O>;
        };

        m_mac_dia_u: m_mac_dia_u {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>;
        };

        m_mac_dia_O_cap: m_mac_dia_O_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(O)>;
        };

        m_mac_dia_U_cap: m_mac_dia_U_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(U)>;
        };

        m_mac_dac_o: m_mac_dac_o {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp J>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp O>;
        };

        m_mac_dac_u: m_mac_dac_u {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp J>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp U>;
        };

        m_mac_dac_O_cap: m_mac_dac_O_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp J>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(O)>;
        };

        m_mac_dac_U_cap: m_mac_dac_U_cap {
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHFT &kp RSHFT>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp J>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp LS(U)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   -  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   \  |
            // |  ESC  |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |       |      | PSCR | | LGUI  |      |       |  N   |   M   |   ,   |  .   |   /   |   =  |
            // | MAGIC | HOME| END | LEFT | RIGHT|      | ENTER | DEL   |      | | BSPC  | SPACE |      |      |  DOWN |  UP   |  [   |   ]   |      |

            bindings = <
&kp F1          &kp F2       &kp F3       &kp F4        &kp F5                                                                                                          &kp F6          &kp F7        &kp F8       &kp F9                   &none
&kp GRAVE       &kp N1       &kp N2       &kp N3        &kp N4         &kp N5                                                                                   &kp N6  &kp N7          &kp N8        &kp N9       &kp N0                   &kp MINUS
&kp TAB         &kp Q        &kp W        &kp E         &kp R          &kp T                                                                                    &kp Y   &kp U           &kp I         &kp O        &kp P                    &kp BSLH
&kp ESC         &hml LALT A  &hml LWIN S  &hml LCTRL D  &hml LSHIFT F  &kp G                                                                                    &kp H   &hmr RSHIFT J   &hmr RCTRL K  &hmr RWIN L  &hmr LEFT_ALT SEMICOLON  &kp SQT
&kp LSHFT       &kp Z        &kp X        &kp C         &kp V          &kp B   &kp LSHIFT       &kp LCTRL  &kp LWIN  &kp F10          &kp F11        &kp F12    &kp N   &kp M           &kp COMMA     &kp DOT      &kp FSLH                 &kp EQUAL
&magic MAGIC 0  &kp HOME     &kp END      &kp LEFT      &kp RIGHT              &lt NAV_HUN RET  &kp DEL    &kp LALT  &kp PRINTSCREEN  &kp BACKSPACE  &kp SPACE          &kp DOWN_ARROW  &kp UP_ARROW  &kp LBKT     &kp RBKT                 &none
            >;
        };

        nav_hun {
            bindings = <
&none  &none     &none     &none      &none                                                                         &none           &none         &none            &none   &none
&none  &none     &none     &none      &none      &none                                              &none           &none           &none         &none            &hu_oe  &hu_ue
&none  &none     &none     &hu_e      &none      &none                                              &none           &hu_u           &hu_i         &hu_o            &hu_od  &hu_ud
&none  &kp LALT  &kp LWIN  &kp LCTRL  &kp LSHFT  &none                                              &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &hu_e   &hu_a
&none  &none     &none     &none      &none      &none  &none   &none  &none  &none  &none  &none   &none           &none           &none         &none            &none   &none
&none  &none     &none     &none      &none             &trans  &none  &none  &none  &none  &trans                  &none           &none         &none            &none   &none
            >;
        };

        magic_layer {
            bindings = <
&bt BT_CLR   &to DEFAULT      &to DEFAULT_MAC  &none            &none                                                                                     &none  &none  &none  &none  &bt BT_CLR_ALL
&none        &none            &none            &none            &none            &none                                                             &none  &none  &none  &none  &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                   &none  &none  &none  &none  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                   &none  &none  &none  &none  &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bt_3  &none         &none  &none  &none  &none  &none  &none  &none  &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB  &none  &none  &none         &none  &none  &none  &none  &to FACTORY_TEST
            >;
        };

        factory_test_layer {
            bindings = <
&kp N0  &kp N6  &kp N2  &kp N8  &kp N4                                                                  &kp N4  &kp N8  &kp N2  &kp N6  &kp N0
&kp N1  &kp N7  &kp N3  &kp N9  &kp N5  &kp N0                                                  &kp N0  &kp N5  &kp N9  &kp N3  &kp N7  &kp N1
&kp N2  &kp N8  &kp N4  &kp N0  &kp N6  &kp N1                                                  &kp N1  &kp N6  &kp N0  &kp N4  &kp N8  &kp N2
&kp N3  &kp N9  &kp N5  &kp N1  &kp N7  &kp N2                                                  &kp N2  &kp N7  &kp N1  &kp N5  &kp N9  &kp N3
&kp N4  &kp N0  &kp N6  &kp N2  &kp N8  &kp N3  &kp N4  &kp N5  &kp N6  &kp N6  &kp N5  &kp N4  &kp N3  &kp N8  &kp N2  &kp N6  &kp N0  &kp N4
&kp N5  &kp N1  &kp N7  &kp N3  &kp N9          &kp N7  &kp N8  &kp N9  &kp N9  &kp N8  &kp N7          &kp N9  &kp N3  &kp N7  &kp N1  &kp N5
            >;
        };

        default_mac_layer {
            bindings = <
&kp F1          &kp F2       &kp F3       &kp F4        &kp F5                                                                                                                   &kp F6          &kp F7        &kp F8       &kp F9                   &none
&kp GRAVE       &kp N1       &kp N2       &kp N3        &kp N4         &kp N5                                                                                            &kp N6  &kp N7          &kp N8        &kp N9       &kp N0                   &kp MINUS
&kp TAB         &kp Q        &kp W        &kp E         &kp R          &kp T                                                                                             &kp Y   &kp U           &kp I         &kp O        &kp P                    &kp BSLH
&kp ESC         &hml LALT A  &hml LWIN S  &hml LCTRL D  &hml LSHIFT F  &kp G                                                                                             &kp H   &hmr RSHIFT J   &hmr RCTRL K  &hmr RWIN L  &hmr LEFT_ALT SEMICOLON  &kp SQT
&kp LSHFT       &kp Z        &kp X        &kp C         &kp V          &kp B   &kp LSHFT            &kp LCTRL  &kp LWIN  &kp F10               &kp F11        &kp F12    &kp N   &kp M           &kp COMMA     &kp DOT      &kp FSLH                 &kp EQUAL
&magic MAGIC 0  &kp HOME     &kp END      &kp LEFT      &kp RIGHT              &lt NAV_HUN_MAC RET  &kp DEL    &kp LALT  &kp LG(LS(NUMBER_4))  &kp BACKSPACE  &kp SPACE          &kp DOWN_ARROW  &kp UP_ARROW  &kp LBKT     &kp RBKT                 &none
            >;
        };

        nav_hun_mac {
            bindings = <
&none  &none     &none     &none      &none                                                                         &none           &none         &none            &none       &none
&none  &none     &none     &none      &none      &none                                              &none           &none           &none         &none            &hu_oe_mac  &hu_ue_mac
&none  &none     &none     &hu_e_mac  &none      &none                                              &none           &hu_u_mac       &hu_i_mac     &hu_o_mac        &hu_od_mac  &hu_ud_mac
&none  &kp LALT  &kp LWIN  &kp LCTRL  &kp LSHFT  &none                                              &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &hu_e_mac   &hu_a_mac
&none  &none     &none     &none      &none      &none  &none   &none  &none  &none  &none  &none   &none           &none           &none         &none            &none       &none
&none  &none     &none     &none      &none             &trans  &none  &none  &none  &none  &trans                  &none           &none         &none            &none       &none
            >;
        };
    };
};
